.elementor-19 .elementor-element.elementor-element-69512d9 {
    --display: flex;
    --min-height: 50px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 20px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
}

.elementor-19 .elementor-element.elementor-element-69512d9,
.elementor-19 .elementor-element.elementor-element-69512d9::before {
    --border-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-02265ae {
    --e-image-carousel-slides-to-show: 1;
}

.elementor-19 .elementor-element.elementor-element-02265ae>.elementor-widget-container {
    padding: 40px 0px 40px 0px;
}

.elementor-19 .elementor-element.elementor-element-eaa2658 {
    --display: flex;
    --min-height: 41px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-ad3792e {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-ad3792e .elementor-heading-title {
    color: #000000;
}

.elementor-19 .elementor-element.elementor-element-ad3792e>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-19 .elementor-element.elementor-element-ff58d49 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-19 .elementor-element.elementor-element-ff58d49 .elementor-divider-separator {
    width: 27%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-ff58d49 .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-19 .elementor-element.elementor-element-c301fd6 {
    --display: flex;
    --min-height: 41px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-e49eda0 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-e49eda0 .elementor-heading-title {
    color: #000000;
}

.elementor-19 .elementor-element.elementor-element-e49eda0>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-19 .elementor-element.elementor-element-c2b171c {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-19 .elementor-element.elementor-element-c2b171c .elementor-divider-separator {
    width: 20%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-c2b171c .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-19 .elementor-element.elementor-element-1c02c05 {
    --display: flex;
    --min-height: 41px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-f77e683 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-f77e683 .elementor-heading-title {
    color: #000000;
}

.elementor-19 .elementor-element.elementor-element-f77e683>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-19 .elementor-element.elementor-element-d9148e6 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-19 .elementor-element.elementor-element-d9148e6 .elementor-divider-separator {
    width: 16%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-d9148e6 .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-19 .elementor-element.elementor-element-c733e10 {
    --display: flex;
    --min-height: 41px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-049b43e {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-049b43e .elementor-heading-title {
    color: #000000;
}

.elementor-19 .elementor-element.elementor-element-049b43e>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-19 .elementor-element.elementor-element-42a03f0 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-19 .elementor-element.elementor-element-42a03f0 .elementor-divider-separator {
    width: 26%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-42a03f0 .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-19 .elementor-element.elementor-element-9d95b10 {
    --display: flex;
    --min-height: 41px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-cabf0bb {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-cabf0bb .elementor-heading-title {
    color: #000000;
}

.elementor-19 .elementor-element.elementor-element-cabf0bb>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-19 .elementor-element.elementor-element-7798464 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-19 .elementor-element.elementor-element-7798464 .elementor-divider-separator {
    width: 25%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-7798464 .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-19 .elementor-element.elementor-element-d4a9800 {
    --display: flex;
    --min-height: 41px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-c8800b0 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-c8800b0 .elementor-heading-title {
    color: #000000;
}

.elementor-19 .elementor-element.elementor-element-c8800b0>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-19 .elementor-element.elementor-element-cd2503a {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-19 .elementor-element.elementor-element-cd2503a .elementor-divider-separator {
    width: 30%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-cd2503a .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-19 .elementor-element.elementor-element-01ae935 {
    --display: flex;
    --min-height: 41px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-1b13243 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-1b13243 .elementor-heading-title {
    color: #000000;
}

.elementor-19 .elementor-element.elementor-element-1b13243>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-19 .elementor-element.elementor-element-f35f17d {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-19 .elementor-element.elementor-element-f35f17d .elementor-divider-separator {
    width: 30%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-f35f17d .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-19 .elementor-element.elementor-element-26e2bb9 {
    --display: flex;
    --min-height: 41px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-e587f7e {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-e587f7e .elementor-heading-title {
    color: #000000;
}

.elementor-19 .elementor-element.elementor-element-e587f7e>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-19 .elementor-element.elementor-element-e7cc244 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-19 .elementor-element.elementor-element-e7cc244 .elementor-divider-separator {
    width: 19%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-e7cc244 .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-19 .elementor-element.elementor-element-8720674 {
    --display: flex;
    --min-height: 41px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-cc26ae9 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-cc26ae9 .elementor-heading-title {
    color: #000000;
}

.elementor-19 .elementor-element.elementor-element-cc26ae9>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-19 .elementor-element.elementor-element-26585ad {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-19 .elementor-element.elementor-element-26585ad .elementor-divider-separator {
    width: 12%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-26585ad .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-19 .elementor-element.elementor-element-f0f2b0c {
    --display: flex;
    --min-height: 41px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-007dcf3 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-007dcf3 .elementor-heading-title {
    color: #000000;
}

.elementor-19 .elementor-element.elementor-element-007dcf3>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-19 .elementor-element.elementor-element-61c0cb2 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-19 .elementor-element.elementor-element-61c0cb2 .elementor-divider-separator {
    width: 12%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-61c0cb2 .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-19 .elementor-element.elementor-element-69ae90e {
    --display: flex;
    --min-height: 41px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-201bf45 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-201bf45 .elementor-heading-title {
    color: #000000;
}

.elementor-19 .elementor-element.elementor-element-201bf45>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-19 .elementor-element.elementor-element-a10d7dd {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-19 .elementor-element.elementor-element-a10d7dd .elementor-divider-separator {
    width: 12%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-a10d7dd .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-19 .elementor-element.elementor-element-883c5bf {
    --display: flex;
    --min-height: 41px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-73e72cc {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-73e72cc .elementor-heading-title {
    color: #000000;
}

.elementor-19 .elementor-element.elementor-element-73e72cc>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-19 .elementor-element.elementor-element-6f07992 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-19 .elementor-element.elementor-element-6f07992 .elementor-divider-separator {
    width: 16%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-6f07992 .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-19 .elementor-element.elementor-element-3cd9c41 {
    --display: flex;
    --min-height: 41px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-371dc81 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-371dc81 .elementor-heading-title {
    color: #000000;
}

.elementor-19 .elementor-element.elementor-element-371dc81>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-19 .elementor-element.elementor-element-55d67cb {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-19 .elementor-element.elementor-element-55d67cb .elementor-divider-separator {
    width: 16%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-55d67cb .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-19 .elementor-element.elementor-element-23272b1 {
    --display: flex;
    --min-height: 41px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-2ed2761 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-2ed2761 .elementor-heading-title {
    color: #000000;
}

.elementor-19 .elementor-element.elementor-element-2ed2761>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-19 .elementor-element.elementor-element-c125e28 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-19 .elementor-element.elementor-element-c125e28 .elementor-divider-separator {
    width: 15%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-c125e28 .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-19 .elementor-element.elementor-element-0b5ff08 {
    --display: flex;
    --min-height: 41px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-c8ce6e2 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-c8ce6e2 .elementor-heading-title {
    color: #000000;
}

.elementor-19 .elementor-element.elementor-element-c8ce6e2>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-19 .elementor-element.elementor-element-b5bb8ae {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-19 .elementor-element.elementor-element-b5bb8ae .elementor-divider-separator {
    width: 17%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-b5bb8ae .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-19 .elementor-element.elementor-element-315e31f {
    --display: flex;
    --min-height: 41px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-25048a5 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-25048a5 .elementor-heading-title {
    color: #000000;
}

.elementor-19 .elementor-element.elementor-element-25048a5>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-19 .elementor-element.elementor-element-213d506 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-19 .elementor-element.elementor-element-213d506 .elementor-divider-separator {
    width: 8%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-213d506 .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-19 .elementor-element.elementor-element-0569af6 {
    --display: flex;
    --min-height: 41px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-e41c3c0 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-e41c3c0 .elementor-heading-title {
    color: #000000;
}

.elementor-19 .elementor-element.elementor-element-e41c3c0>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-19 .elementor-element.elementor-element-bb39d6b {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-19 .elementor-element.elementor-element-bb39d6b .elementor-divider-separator {
    width: 22%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-bb39d6b .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-19 .elementor-element.elementor-element-bb42514 {
    --display: flex;
    --min-height: 50px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-block-start: 20px;
    --padding-block-end: 20px;
    --padding-inline-start: 100px;
    --padding-inline-end: 100px;
}

.elementor-19 .elementor-element.elementor-element-3472184 {
    --display: flex;
    --min-height: 41px;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --padding-block-start: 40px;
    --padding-block-end: 40px;
    --padding-inline-start: 30px;
    --padding-inline-end: 30px;
}

.elementor-19 .elementor-element.elementor-element-3472184:not(.elementor-motion-effects-element-type-background),
.elementor-19 .elementor-element.elementor-element-3472184>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #003B17;
}

.elementor-19 .elementor-element.elementor-element-3472184,
.elementor-19 .elementor-element.elementor-element-3472184::before {
    --border-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-6ee1480 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 30px;
}

.elementor-19 .elementor-element.elementor-element-6ee1480.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-19 .elementor-element.elementor-element-9929ccf .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-19 .elementor-element.elementor-element-3138d6f {
    text-align: justify;
}

.elementor-19 .elementor-element.elementor-element-3138d6f .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-19 .elementor-element.elementor-element-bb5cb45 {
    text-align: justify;
}

.elementor-19 .elementor-element.elementor-element-bb5cb45 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-19 .elementor-element.elementor-element-3fda7f1 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-319f5bf {
    text-align: justify;
}

.elementor-19 .elementor-element.elementor-element-319f5bf .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.elementor-19 .elementor-element.elementor-element-8fdac18 {
    text-align: justify;
}

.elementor-19 .elementor-element.elementor-element-8fdac18 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
}

.elementor-19 .elementor-element.elementor-element-79fb557 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-19 .elementor-element.elementor-element-bb71873 {
    text-align: justify;
}

.elementor-19 .elementor-element.elementor-element-bb71873 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.elementor-19 .elementor-element.elementor-element-3219347 {
    text-align: justify;
}

.elementor-19 .elementor-element.elementor-element-3219347 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
}

@media(min-width:768px) {
    .elementor-19 .elementor-element.elementor-element-6ee1480 {
        --width: 36%;
    }
}