.elementor-399 .elementor-element.elementor-element-5a23edc {
    --display: flex;
    --min-height: 0px;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --align-items: center;
    --flex-wrap: nowrap;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-399 .elementor-element.elementor-element-5a23edc.e-con {
    --align-self: center;
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-399 .elementor-element.elementor-element-8a2a4d4 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
}

.elementor-399 .elementor-element.elementor-element-8a2a4d4.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-399 .elementor-element.elementor-element-490f488 .elementor-heading-title {
    color: #00501B;
    font-family: "Roboto", Sans-serif;
    font-size: 19px;
    font-weight: 600;
}

.elementor-399 .elementor-element.elementor-element-941d84c {
    --display: flex;
    --min-height: 0px;
    --justify-content: center;
    --align-items: stretch;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
}

.elementor-399 .elementor-element.elementor-element-941d84c.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-399 .elementor-element.elementor-element-6a088da {
    --display: flex;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
}

.elementor-399 .elementor-element.elementor-element-6a088da,
.elementor-399 .elementor-element.elementor-element-6a088da::before {
    --border-transition: 0.3s;
}

.elementor-399 .elementor-element.elementor-element-8ee7a2a .elementor-nav-menu--main .elementor-item {
    color: #A0A0A0;
    fill: #A0A0A0;
}

.elementor-399 .elementor-element.elementor-element-360e398 {
    --display: flex;
    --min-height: 0px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-block-start: 5px;
    --padding-block-end: 5px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-399 .elementor-element.elementor-element-360e398:not(.elementor-motion-effects-element-type-background),
.elementor-399 .elementor-element.elementor-element-360e398>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #00501B;
}

.elementor-399 .elementor-element.elementor-element-360e398,
.elementor-399 .elementor-element.elementor-element-360e398::before {
    --border-transition: 0.3s;
}

.elementor-399 .elementor-element.elementor-element-a72235e .elementor-menu-toggle {
    margin-right: auto;
    background-color: #FFFFFF;
}

.elementor-399 .elementor-element.elementor-element-a72235e .elementor-nav-menu .elementor-item {
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: -0.3px;
    word-spacing: 0px;
}

.elementor-399 .elementor-element.elementor-element-a72235e .elementor-nav-menu--main .elementor-item {
    color: #FFFFFF;
    fill: #FFFFFF;
    padding-left: 6px;
    padding-right: 6px;
}

.elementor-399 .elementor-element.elementor-element-a72235e .elementor-nav-menu--dropdown a,
.elementor-399 .elementor-element.elementor-element-a72235e .elementor-menu-toggle {
    color: #000000;
}

.elementor-399 .elementor-element.elementor-element-a72235e .elementor-nav-menu--dropdown {
    background-color: #FFFFFF;
}

.elementor-399 .elementor-element.elementor-element-a72235e .elementor-nav-menu--dropdown .elementor-item,
.elementor-399 .elementor-element.elementor-element-a72235e .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
}

.elementor-399 .elementor-element.elementor-element-a72235e div.elementor-menu-toggle {
    color: #00501B;
}

.elementor-399 .elementor-element.elementor-element-a72235e div.elementor-menu-toggle svg {
    fill: #00501B;
}

@media(max-width:767px) {
    .elementor-399 .elementor-element.elementor-element-5a23edc {
        --width: 323px;
        --justify-content: center;
        --flex-wrap: wrap;
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }
    .elementor-399 .elementor-element.elementor-element-8a2a4d4 {
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
    }
    .elementor-399 .elementor-element.elementor-element-490f488 {
        text-align: center;
    }
    .elementor-399 .elementor-element.elementor-element-490f488 .elementor-heading-title {
        font-size: 40px;
    }
    .elementor-399 .elementor-element.elementor-element-941d84c {
        --width: 320px;
        --align-items: stretch;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --margin-block-start: -25px;
        --margin-block-end: -25px;
        --margin-inline-start: -25px;
        --margin-inline-end: -25px;
    }
    .elementor-399 .elementor-element.elementor-element-6a088da {
        --gap: 0px 0px;
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
    }
    .elementor-399 .elementor-element.elementor-element-8ee7a2a.elementor-element {
        --align-self: center;
    }
    .elementor-399 .elementor-element.elementor-element-360e398 {
        --width: 500px;
        --margin-block-start: -60px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
        --padding-block-start: 10px;
        --padding-block-end: 10px;
        --padding-inline-start: 10px;
        --padding-inline-end: 10px;
    }
    .elementor-399 .elementor-element.elementor-element-a72235e .elementor-nav-menu--main .elementor-item {
        padding-left: 0px;
        padding-right: 0px;
    }
    .elementor-399 .elementor-element.elementor-element-a72235e.elementor-element {
        --align-self: flex-start;
    }
}

@media(min-width:768px) {
    .elementor-399 .elementor-element.elementor-element-5a23edc {
        --width: 80%;
    }
    .elementor-399 .elementor-element.elementor-element-8a2a4d4 {
        --width: 17%;
    }
    .elementor-399 .elementor-element.elementor-element-941d84c {
        --width: 51.814%;
    }
}